<ion-view view-title="about">
  <ion-content>
	
	<div class="row responsive">
		<div class="col">
			<img src="../img/ph-logo.png" class="responsve-img animated zoomInLeft" height="50px;">
			<img src="../img/DA-logo.png" class="responsve-img animated rollIn" height="50px;">
		</div>
		<div class="col col-75">
			<h5>Republic of the Philippines</h5>
			<h3 class="content-spacing"><strong>DEPARTMENT OF AGRICULTURE</strong></h3>
			<h5>Regional office No. 02</h5>
			<h5>Tuguegarao City, Cagayan</h5>
		</div>
	</div>

	<div class="spacer" style="width: 268px; height: 30px;"></div>

	<div class="row">
	  <div class="col animated bounceInLeft">
	        <img  class="full-image" src="../img/da-img/1.jpg"/>
	  </div>

	   <div class="col animated bounceInRight">
	        <img  class="full-image" src="../img/da-img/2.jpg"/>
	  </div>
	</div>

	<div class="row">
	  <div class="col animated flipInX">
	        <img  class="full-image" src="../img/da-img/3.jpg"/>
	  </div>

	   <div class="col animated flipInY">
	        <img  class="full-image" src="../img/da-img/4.jpg"/>
	  </div>
	</div>

	<div class="row">
	  <div class="col animated fadeInRight">
	        <img  class="full-image" src="../img/da-img/5.jpg"/>
	  </div>

	   <div class="col animated fadeInLeft">
	        <img  class="full-image" src="../img/da-img/6.jpg"/>
	  </div>
	</div>

		<div class="spacer" style="width: 268px; height: 30px;"></div>

		<hr>
		<h3 class="content-spacing"><strong>MANDATE,VISION AND MISSION</strong></h3>
		
		<div class="card">
			<div class="item item-divider">
				MANDATE
			</div>
			<div class="item item-text-wrap">
				The Department of Agriculture is a government agency responsible for the promotion of agricultural development by providing framework, public investments, and support services needed for domestic and export-oriented business enterprises.
				<br>
				<br>
				In the fulfillment of this mandate, it shall be the primary concern of the Department to improve farm income and generate work opportunities for farmers, fishermen and other rural workers. It shall encourage people’s participation in agricultural development through sectoral representation in agricultural policy-making bodies so that the policies, plans and programs of the Department are formulated and executed to satisfy their needs.
				<br>
				<br>
				It shall also use a bottom-up self-reliant farm system approach that will emphasize social justice, equity, productivity and sustainability in the use of agricultural resources.
			</div>

			<div class="item item-divider">
				VISION
			</div>
			<div class="item item-text-wrap">
				A modernized smallholder agriculture and fisheries; a diversified rural economy that is dynamic, technologically advanced and internationally competitive. Its transformation is guided by the sound practices of resource sustainability, the principles of social justice, and a strong private sector participation.
			</div>

			<div class="item item-divider">
				MISSION
			</div>
			<div class="item item-text-wrap">
				To help and empower the farming and fishing communities and the private sector to produce enough, accessible and affordable food for every Filipino and a decent income for all.
			</div>
		</div>
	<hr>
	<h3 class="content-spacing"><strong>QUALITY POLICY</strong></h3>
	
	<div class="item item-divider">
		QUALITY POLICY
	</div>
	<div class="item item-text-wrap">
		We,   the   DEPARTMENT   OF   AGRICULTURE – REGIONAL FIELD OFFICE NO. 02,  commit to transform  our agriculture sector into empowered  farming communities  through inclusive growth.
			<br>
			<br>
			We shall build an enabling environment for agriculture to grow and be globally competitive in a  diversified  regional economy.  As our moral obligation,  we shall contribute to nourish and sustain every Filipino’s need and right  to  enjoy sufficient, safe, accessible and affordable food  at all times.
			<br>
			<br>
			In Responding, Engaging and Delivering our  products and services, we shall be guided by the principles of social justice  and  equitable development,  imbued with the values of loyalty, integrity,  resourcefulness, teammanship, service-orientedness and continuous  learning.
			<br>
			<br>
			We shall continually improve our Quality Management System to  be better, more responsive and relevant  in making a  difference” PARA SA  MASAGANANG AGRIKULTURA, MASAGANANG BANSA .”
	</div>



  </ion-content>
</ion-view>